---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<Layout title="About Us">
  <!-- <div class="grid grid-cols-1 md:grid-cols-2 max-h-xl max-w-7xl mx-auto mt-6">
    <div class="flex flex-col justify-center items-center">
      <h2 class="text-3xl md:text-5xl font-semibold py-2">Samaya Cullerton</h2>
      <p class="text-lg md:text-2xl">LAc, MTCM Traditional Family Medicine</p>
    </div>
    <div
      class="mx-auto rounded-full opacity-50 bg-brand-accent p-4 my-6 h-96 w-96"
    >
    </div>
  </div> -->

  <div class="max-w-7xl mx-auto text-lg md:mt-8 mt-2 md:mb-0 mb-6">
    <div class="rounded-2xl text-text-dark sm:py-4 md:max-w-3x">
      <p class="sm:text-xl text-left">
        Meet the dedicated team of experienced acupuncturists and wellness
        practitioners at Wellness Medical Center.
      </p>
    </div>
  </div>
  <div
    class="max-w-7xl mx-auto pb-6 md:mt-6 grid grid-cols-1 md:grid-cols-3 md:gap-12 gap-2"
  >
    <section class="md:col-span-2">
      <h2
        class="text-2xl sm:text-3xl text-center md:text-4xl font-semibold py-2"
      >
        Samaya Cullerton
      </h2>
      <p class="sm:text-lg text-center md:text-xl mb-6 font-semibold">
        LAc, MTCM Traditional Family Medicine
      </p>
      <div
        class="mx-auto rounded-full opacity-50 bg-brand-accent pb-4 mb-6 w-48 h-48 sm:w-72 sm:h-72"
      >
      </div>

      <p class="mb-4 md:text-xl">
        Samaya Cullerton is a California board-licensed acupuncturist and
        herbalist with a Master's Degree in Traditional Chinese Medicine. She
        has been in private practice for over a decade, specializing in women's
        health, prenatal, postpartum, and pediatric traditional medicine.
      </p>
      <p class="mb-4 md:text-xl">
        A scholar of traditional medical practices for over twenty years, she
        teaches herbal medicine, dietetics, and clinical acupuncture at Five
        Branches University in Santa Cruz. She co-owns the Wellness Medical
        Center, a women-owned clinic serving the Santa Cruz community for over
        forty years.
      </p>
      <p class="mb-4 md:text-xl">
        She provides compassionate, patient-centered care and is part of the
        Central California Alliance for Health Insurance provider network,
        currently accepting new patients.
      </p>
      <div
        class="mt-6 flex flex-col md:flex-row items-center justify-between w-full gap-4"
      >
        <button
          class="bg-brand-accent text-text-light font-semibold text-lg px-6 py-3 rounded-xl shadow-lg cursor-pointer hover:bg-brand-dark transition
  focus:ring-2 focus:ring-[#cc926a] focus:outline-none md:w-64 w-full"
          data-cal-link="mattosurf/1-hour-session"
          data-cal-namespace="1-hour-session"
          data-cal-config='{"layout":"month_view","theme":"light"}'
        >
          Schedule a Session
        </button>
        <img
          src="/AllianceLogo.svg"
          alt="Central California Alliance for Health Insurance logo"
          class="mx-auto md:mx-0 w-16 h-16"
        />
      </div>
    </section>

    <section class="md:col-span-1">
      <h2 class="text-2xl font-semibold border-b md:mt-12 pb-2 mb-4">
        Services
      </h2>
      <div class="space-y-4">
        <div>
          <h3 class="text-lg font-medium">Acupuncture</h3>
          <p class="text-gray-600">
            A traditional healing technique using fine needles to alleviate pain
            and address various health concerns.
          </p>
        </div>
        <div>
          <h3 class="text-lg font-medium">Cupping</h3>
          <p class="text-gray-600">
            A manual therapy that increases circulation, relieves pain, and
            improves body function.
          </p>
        </div>
        <div>
          <h3 class="text-lg font-medium">Guasha</h3>
          <p class="text-gray-600">
            Enhances circulation, relieves pain, and supports lymphatic
            drainage.
          </p>
        </div>
        <div>
          <h3 class="text-lg font-medium">Herbalism</h3>
          <p class="text-gray-600">
            The use of plant extracts to support well-being, alleviate ailments,
            and manage symptoms.
          </p>
        </div>
        <div>
          <h3 class="text-lg font-medium">Nutritional Consultations</h3>
          <p class="text-gray-600">
            A holistic approach to optimizing diet and supplementation with
            nutraceuticals.
          </p>
        </div>
        <div>
          <h3 class="text-lg font-medium">Tuina</h3>
          <p class="text-gray-600">
            A therapeutic massage technique used to relieve pain, improve
            circulation, and manage symptoms.
          </p>
        </div>
        <div>
          <h3 class="text-lg font-medium">Shoni Shin</h3>
          <p class="text-gray-600">
            A gentle traditional therapy for babies and children as an
            alternative to acupuncture.
          </p>
        </div>
        <div>
          <h3 class="text-lg font-medium">Facial Rejuvenation Acupuncture</h3>
          <p class="text-gray-600">
            A technique to enhance skin health, reducing signs of aging and sun
            damage.
          </p>
        </div>
        <div>
          <h3 class="text-lg font-medium">Celluma Light Therapy</h3>
          <p class="text-gray-600">
            Physician-grade LED light therapy for breakouts, scarring, aging
            skin, and pain management.
          </p>
        </div>
        <div>
          <h3 class="text-lg font-medium">Far Infrared Light Therapy</h3>
          <p class="text-gray-600">
            A deep-penetrating light therapy that increases circulation,
            relieves pain, and supports tissue regeneration.
          </p>
        </div>
      </div>
    </section>
  </div>
</Layout>
