---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cancellation Policy">
  <h1 class="text-3xl font-bold text-brand-accent mt-8 mb-6">
    Cancellation Policy
  </h1>

  <p class="text-gray-700 mb-6">
    Effective Date: <strong>March 3, 2025</strong>
  </p>

  <h1 class="text-2xl font-semibold text-gray-800 mt-8 mb-4">
    Patient Acknowledgement Appointment Cancellation Policy
  </h1>

  <p class="text-gray-700 mb-4">Dear Patients,</p>

  <p class="text-gray-700 mb-4">
    Samaya Cullerton, LAc has instituted an Appointment Cancellation Policy. A
    cancellation made with less than a 24-hour notice significantly limits our
    ability to make the appointment available for another patient in need. To
    remain consistent with our mission, we have instituted the following policy:
  </p>

  <p class="text-gray-700 mb-4">
    Please provide our office a 24-hour notice in the event that you need to
    reschedule your appointment. This will allow us the opportunity to provide
    care to another patient. If you have not notified us of your cancellation
    within 24 hours, you will be charged the full fee of your missed
    appointment. A message can always be left to avoid a cancellation fee being
    charged. This fee is not billable to your insurance. Repeated missed
    appointments may result in termination of the acupuncturist/patient
    relationship. If you have any questions regarding this policy, please let
    our staff know and we will be glad to clarify any questions you have.
  </p>
</Layout>
