---
import Layout from "../layouts/Layout.astro";
// import { MapPin } from "lucide-astro";
---

<Layout title="Contact Us">
  <form
    name="contact"
    netlify
    class="px-6 md:px-12 rounded-3xl max-w-3xl mx-auto mb-16"
  >
    <p class="hidden">
      <label>
        Don’t fill this out if you’re human: <input name="bot-field" />
      </label>
    </p>
    <div class="text-text-dark py-4 md:max-w-3x text-center">
      <h2 class="text-2xl sm:text-3xl md:text-4xl font-bold">Contact Us</h2>
    </div>
    <!-- <h3 class="text-2xl font-semibold text-brand-accent mb-2 pt-0">
      Contact Us
    </h3> -->
    <p class="mb-6">
      Reach out with any questions or to schedule an appointment. Fill out the
      form below or call/text us at <a
        href="tel:(831) 588-9581"
        class="text-[#bf7644] hover:text-orange-800">831-588-9581</a
      >
    </p>

    <!-- Name Input -->
    <div class="mb-6">
      <label for="name" class="text-text-dark font-semibold mb-2 block"
        >Name</label
      >
      <input
        type="text"
        name="name"
        id="name"
        class="border border-text-text-medium rounded-lg p-3 w-full focus:ring-2 focus:ring-[#cc926a] focus:outline-none"
        placeholder="Your Name"
        required
      />
    </div>

    <!-- Email Input -->
    <div class="mb-6">
      <label for="email" class="text-text-dark font-semibold mb-2 block"
        >Email</label
      >
      <input
        type="email"
        name="email"
        id="email"
        class="border border-text-text-medium rounded-lg p-3 w-full focus:ring-2 focus:ring-[#cc926a] focus:outline-none"
        placeholder="Your Email"
        required
      />
    </div>

    <!-- Phone Number Input -->
    <div class="mb-6">
      <label for="phone" class="text-text-dark font-semibold mb-2 block"
        >Phone Number</label
      >
      <input
        type="tel"
        name="phone"
        id="phone"
        pattern="^\+?[1-9]\d{1,14}$"
        class="border border-text-text-medium rounded-lg p-3 w-full focus:ring-2 focus:ring-[#cc926a] focus:outline-none"
        placeholder="+1 (555) 555-5555"
        required
      />
    </div>

    <!-- Message Input -->
    <div>
      <label for="message" class="text-text-dark font-semibold mb-2 block"
        >Message</label
      >
      <textarea
        name="message"
        id="message"
        rows="5"
        class="border border-text-text-medium rounded-lg p-3 w-full focus:ring-2 focus:ring-[#cc926a] focus:outline-none"
        placeholder="Your Message"
        required></textarea>
    </div>

    <!-- Opt-in for Email Marketing (Optional) -->
    <div class="grid grid-cols-[auto_1fr] gap-3 items-start mt-4">
      <input
        type="checkbox"
        name="email_opt_in"
        id="email_opt_in"
        class="w-6 h-6 text-brand-accent border-gray-300 rounded focus:ring-[#cc926a] cursor-pointer"
      />
      <label for="email_opt_in" class="text-text-dark"
        >Sign me up for exclusive updates, insights, and special offers!
      </label>
    </div>

    <!-- SMS Opt-in Link -->
    <!-- <div class="mt-4">
      <a
        href="/sms-opt-in/"
        class="text-brand-accent underline hover:text-brand-dark"
      >
        I'm OK with text messages →
      </a>
    </div> -->

    <!-- Submit Button -->
    <div class="text-center md:text-left mt-6">
      <button
        type="submit"
        class="bg-brand-accent text-text-light font-semibold text-lg px-6 py-3 rounded-xl shadow-lg cursor-pointer hover:bg-brand-dark transition focus:ring-2 focus:ring-[#cc926a] focus:outline-none md:w-64 w-full mb-4 md:mb-0"
      >
        Send
      </button>
    </div>
  </form>
  <div class="text-text-dark py-4 md:max-w-3x text-center">
    <p class="mb-1 font-bold text-2xl text-brand-accent">
      Wellness Medical Center
    </p>
    <p class="mb-0 justify-center items-center gap-1">
      200 7th Ave #135, Santa Cruz, CA 95062
    </p>
    <p class="flex justify-center items-center gap-1 text-sm mt-1">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="w-4 h-4 text-[#bf7644] hover:text-orange-800 text-sm"
      >
        <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
        <circle cx="12" cy="10" r="3"></circle>
      </svg>
      Open in:
      <a
        href="https://www.google.com/maps?q=200+7th+Ave+%23135,+Santa+Cruz,+CA+95062"
        target="_blank"
        rel="noopener noreferrer"
        class="text-[#bf7644] hover:text-orange-800 text-sm"
      >
        Google Maps
      </a>
      |
      <a
        href="https://maps.apple.com/?address=200+7th+Ave,+Santa+Cruz,+CA+95062"
        target="_blank"
        rel="noopener noreferrer"
        class="text-[#bf7644] hover:text-orange-800 text-sm"
      >
        Apple Maps
      </a>
    </p>
  </div>
</Layout>
