---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import bg from "../assets/samaya-bg2.jpg";
import Book2 from "../components/Book2.astro";
import Samaya from "../assets/samaya.jpg";
---

<Layout title="Home">
  <div class="relative w-full">
    <!-- Hero Image -->
    <Image
      src={bg}
      alt="Hero background"
      class="w-full h-auto max-h-96 xl:rounded-4xl"
    />

    <!-- Text Overlay -->
    <div
      class="absolute inset-0 flex flex-col items-center justify-center text-white text-center"
    >
      <h1
        id="hero-text"
        class="opacity-0 translate-y-5 motion-safe:transition-all motion-safe:duration-700 motion-safe:ease-out motion-safe:delay-200 text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold w-3/4 sm:w-1/2 md:w-3/4 mb-2 md:mb-4"
      >
        Samaya Cullerton Acupuncture & Traditional Chinese Medicine
      </h1>
    </div>
  </div>

  <div
    class="max-w-7xl mx-auto pb-6 md:mt-6 grid grid-col-1 xl:grid-cols-12 gap-6 md:text-left px-6"
  >
    <div class="xl:col-span-4 grid mt-6">
      <Image
        src={Samaya}
        alt="Samaya Cullerton"
        class="w-64 h-64 lg:w-96 lg:h-96 rounded-full justify-self-center"
        width={384}
        height={384}
      />
    </div>

    <div class="xl:col-span-8">
      <p class="mb-4 text-lg md:text-xl">
        Welcome to my practice. As a California board-licensed acupuncturist and
        herbalist, I am dedicated to providing compassionate, patient-centered
        care through traditional Chinese medicine. Whether you are seeking
        acupuncture, herbal treatments, or a holistic approach to nutrition, my
        goal is to support your health with personalized, evidence-based care. I
        have a Master's Degree in Traditional Chinese Medicine and over a decade
        of experience, specializing in women's health, prenatal, postpartum and
        pediatric traditional medicine.
      </p>
      <p class="mb-4 text-lg md:text-xl">
        In addition to my private practice, I am also part of <a
          href="https://www.mariamitchelllac.com/"
          class="text-[#bf7644] hover:text-orange-800"
        >
          Wellness Medical Center</a
        > in Santa Cruz, CA, a cherished, women-owned clinic serving the local community
        for over 40 years. I am a professor of herbal medicine, dietetics, and clinical
        acupuncture for the doctoral program at Five Branches University in Santa
        Cruz.
      </p>

      <p class="mb-4 text-lg md:text-xl">
        I am in the Central California Alliance for Health Insurance provider
        network and I am currently accepting new patients.
      </p>

      <div class="mt-6 grid grid-cols-1 md:grid-cols-2 gap-4 items-center">
        <Book2 />
        <img
          src="/AllianceLogo.svg"
          alt="Central California Alliance for Health Insurance logo"
          class="w-16 h-16 justify-self-center md:justify-self-end"
        />
      </div>
    </div>
  </div>

  <div class="flex justify-center mt-4">
    <a
      href="https://us.fullscript.com/welcome/wellness-medical-center?utm_medium=webreferral&utm_source=other&utm_campaign=abmwebbuttons_light_500x500.svg&signup_source=website_buttons"
      target="_top"
    >
      <img
        src="https://assets.fullscript.com/buttons/light_500x500.svg"
        alt="Order supplements through my Fullscript store."
      />
    </a>
  </div>

  <!-- Trigger animation on load -->
  <script is:inline>
    window.addEventListener("DOMContentLoaded", () => {
      const heroText = document.getElementById("hero-text");
      heroText?.classList.remove("opacity-0", "translate-y-5");
    });
  </script>
</Layout>
