---
import Layout from "../layouts/Layout-home.astro";
import Button from "../components/Button.astro";
import Image from "astro/components/Image.astro";
import davenport from "../assets/davenport.jpg";
import BookButton from "../components/BookButton.astro";
import Book2 from "../components/Book2.astro";
import Samaya from "../assets/samaya.jpg";
---

<Layout title="Samaya Cullerton">
  <!-- <div class="relative w-full">
    <Image
      src={davenport}
      alt="up the coast from Santa Cruz"
      class="rounded-3xl w-full mb-4 md:my-8"
    />
  </div> -->

  <div class="max-w-7xl mx-auto text-lg md:mt-4 mt-2 md:mb-3 text-center py-12">
    <div class="text-text-dark sm:py-4 md:max-w-3x">
      <h2 class="text-2xl sm:text-3xl md:text-4xl font-semibold py-1">
        Samaya Cullerton
      </h2>
      <p class="sm:text-lg md:text-xl mb-3 font-semibold">
        LAc, MTCM Traditional Family Medicine
      </p>
    </div>
  </div>

  <div
    class="max-w-7xl mx-auto pb-6 md:mt-6 grid grid-col-1 lg:grid-cols-12 gap-6 md:text-left"
  >
    <div class="lg:col-span-4 grid">
      <Image
        src={Samaya}
        alt="Samaya Cullerton"
        class="w-96 h-116 rounded-2xl justify-self-center"
      />

      <!-- <div
        class="w-48 h-48 sm:w-72 sm:h-72 bg-brand-accent opacity-50 rounded-full justify-self-center"
      >
      </div> -->
    </div>

    <div class="lg:col-span-8">
      <p class="mb-4 text-lg md:text-xl">
        Welcome to my practice. As a licensed acupuncturist and herbalist, I am
        dedicated to providing compassionate, patient-centered care through
        Traditional Chinese Medicine. Whether you are seeking acupuncture,
        herbal treatments, or a holistic approach to wellness, my goal is to
        support your health with personalized, evidence-based care. In addition
        to my private practice, I am also part of <a
          href="https://www.google.com/"
          class="text-orange-700 hover:text-orange-900"
          >Wellness Medical Center</a
        > in Santa Cruz, CA, a respected, women-owned clinic serving the local community
        for over 40 years.
      </p>
      <p class="mb-4 text-lg md:text-xl">
        I am a California board-licensed acupuncturist and herbalist with a
        Master's Degree in Traditional Chinese Medicine. With over a decade of
        experience, I have specialized in women's health, prenatal, postpartum,
        and pediatric traditional medicine.
      </p>
      <p class="mb-4 text-lg md:text-xl">
        As a scholar of traditional medical practices for more than twenty
        years, I teach herbal medicine, dietetics, and clinical acupuncture at
        Five Branches University in Santa Cruz. Notably, I also co-own the
        <a
          href="https://www.google.com/"
          class="text-orange-700 hover:text-orange-900"
        >
          Wellness Medical Center</a
        >, reinforcing my dedication to the Santa Cruz community.
      </p>
      <p class="mb-4 text-lg md:text-xl">
        I provide compassionate, patient-centered care and am part of the
        Central California Alliance for Health Insurance provider network. I am
        currently accepting new patients.
      </p>
      <div class="mt-6 grid grid-cols-1 md:grid-cols-2 gap-4 items-center">
        <Book2 />
        <img
          src="/AllianceLogo.svg"
          alt="Central California Alliance for Health Insurance logo"
          class="w-16 h-16 justify-self-center md:justify-self-end"
        />
      </div>

      <Book2 />
    </div>
  </div>
  <div class="flex justify-center mt-4">
    <a
      href="https://us.fullscript.com/welcome/wellness-medical-center?utm_medium=webreferral&utm_source=other&utm_campaign=abmwebbuttons_light_500x500.svg&signup_source=website_buttons"
      target="_top"
    >
      <img
        src="https://assets.fullscript.com/buttons/light_500x500.svg"
        alt="Order supplements through my Fullscript store."
      />
    </a>
  </div>

  <div class="max-w-7xl mx-auto text-lg md:mt-4 mt-2 md:mb-3 text-center">
    <div class="mx-auto text-text-dark sm:py-4 md:max-w-7xl">
      <h2 class="text-2xl sm:text-3xl md:text-4xl font-semibold mt-8 mb-6">
        Trusted by Patients
      </h2>
      <!-- Centered Grid -->
      <!-- Masonry Grid Layout -->
      <div class="columns-1 sm:columns-2 lg:columns-3 gap-6 space-y-6 mx-auto">
        <div class="break-inside-avoid rounded-xl bg-[#efddd0] p-8 w-full">
          <p class="text-left mb-6">
            Samaya is a wonderful practitioner. I have been receiving treatments
            from her for years, and I always am so thankful to have her in my
            life! Her treatments provide effective relief for my aches and
            pains, and support me through emotional ups and downs. She is a
            gifted herbalist and always knows just the right thing to help me.
            She is consistently thorough in both understanding what I am hoping
            for with the treatment and in answering any questions I may have.
            Her style of acupuncture is very gentle and restorative—I am so
            appreciative of her care and recommend her to everyone!
          </p>
          <p class="text-right font-bold mt-2">Molly D.</p>
        </div>

        <div class="break-inside-avoid rounded-xl bg-[#e4e9e1] p-8 w-full">
          <p class="text-left mb-6">
            I cannot sing Samaya's praises ENOUGH. She is a gifted healer,
            herbalist, acupuncturist, and all-around amazing human. She
            continues to successfully usher me through perimenopause with
            wisdom, insight, ease, grace, and loving kindness. I recommend her
            so highly. 10 stars for Samaya!
          </p>
          <p class="text-right font-bold mt-2">T.L.</p>
        </div>

        <div class="break-inside-avoid rounded-xl bg-[#efddd0] p-8 w-full">
          <p class="text-left mb-6">
            Samaya is truly phenomenal at what she does. She has been my
            acupuncturist throughout the years, before I had kids, on my
            fertility journey, through two pregnancies, two healing journeys,
            and while raising my family. She is gentle and my kids love her. She
            has helped me troubleshoot so many challenging matters regarding our
            health, and she just always makes me feel better. She gives us
            magical teas and drops to drink and makes me laugh. She’s a gift!
          </p>
          <p class="text-right font-bold mt-2">E.S.</p>
        </div>

        <div class="break-inside-avoid rounded-xl bg-[#e4e9e1] p-8 w-full">
          <p class="text-left mb-6">
            I have been seeing Samaya for years, and I truly cannot recommend
            her enough! She has been an absolute game changer in helping me
            manage a variety of physical and mental health concerns, including
            perimenopause symptoms, hormone imbalance, and anxiety. Her
            expertise, care, and nurturing approach make every session an
            incredibly healing experience.
          </p>
          <p class="text-left mb-6">
            Samaya takes the time to truly listen and understand what’s going
            on, and I never feel rushed during my appointments. Her bedside
            manner is unmatched—she is compassionate, knowledgeable, and deeply
            intuitive in her practice. Every time I leave a session, I feel
            balanced, rejuvenated, and grateful for her care.
          </p>
          <p class="text-left mb-6">
            I’ve referred many people to Samaya, and every single one has had an
            equally positive experience. If you are looking for an acupuncturist
            who is not only excellent at what she does but also genuinely cares
            about your well-being, look no further. She is a gem!
          </p>
          <p class="text-right font-bold mt-2">S.G.</p>
        </div>
      </div>
    </div>
  </div>
</Layout>
