---
const { currentPage } = Astro.props;

const navItems = [
  { name: "Home", href: "/" },
  // { name: "About", href: "/about/" },
  { name: "Services", href: "/services/" },
  { name: "Contact", href: "/contact/" },
];
---

<nav
  class="flex items-center justify-between text-text-dark pt-4 pb-3 px-6 7xl:px-0"
>
  <!-- Logo and Title -->
  <a href="/" class="flex items-center space-x-2">
    <img
      src="/logo2.svg"
      alt="logo"
      class="w-10 h-10 md:w-14 md:h-14 text-brand-primary"
    />
    <h1 class="text-lg sm:text-xl md:text-2xl font-semibold text-brand-accent">
      Wellness Medical Center
    </h1>
  </a>

  <!-- Mobile Menu Button -->
  <button
    id="mobile-menu-button"
    class="md:hidden px-3 py-1 text-sm font-medium text-brand-secondary hover:text-brand-accent border border-brand-secondary hover:border-brand-accent rounded-md transition-colors"
    aria-label="Toggle menu"
  >
    Menu
  </button>

  <!-- Navigation Links -->
  <div
    id="mobile-menu"
    class="hidden md:flex justify-end space-x-6 md:space-x-12 sm:text-lg md:text-xl 7xl:px-0 text-brand-secondary"
  >
    {
      navItems.map(({ name, href }) => {
        const isActive =
          currentPage === href || (currentPage === "" && href === "/"); // Handle Home page case
        return (
          <a
            href={href}
            class={`pb-1 pt-1 md:pt-0 ${
              isActive ? "active" : "hover:text-[#cc926a]"
            }`}
          >
            {name}
          </a>
        );
      })
    }
  </div>
</nav>

<!-- Mobile Menu Script -->
<script>
  const menuButton = document.getElementById("mobile-menu-button");
  const mobileMenu = document.getElementById("mobile-menu");

  menuButton?.addEventListener("click", () => {
    mobileMenu?.classList.toggle("hidden");
    mobileMenu?.classList.toggle("flex");
    mobileMenu?.classList.toggle("flex-col");
    mobileMenu?.classList.toggle("absolute");
    mobileMenu?.classList.toggle("top-16");
    mobileMenu?.classList.toggle("left-0");
    mobileMenu?.classList.toggle("right-0");
    mobileMenu?.classList.toggle("bg-white");
    mobileMenu?.classList.toggle("shadow-lg");
    mobileMenu?.classList.toggle("z-50");
    mobileMenu?.classList.toggle("p-4");
    mobileMenu?.classList.toggle("space-y-4");
    mobileMenu?.classList.toggle("items-center");
  });
</script>

<style>
  @media (max-width: 768px) {
    #mobile-menu {
      display: none;
    }
    #mobile-menu.flex {
      display: flex;
    }
    #mobile-menu a {
      display: inline-block;
      text-align: center;
      width: auto;
      margin: 0 auto;
    }
    #mobile-menu a.active {
      border-bottom: 2px solid var(--brand-accent);
      font-weight: bold;
      color: var(--brand-accent);
    }
  }
</style>
